<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-login">Username</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login" class="form-label">Password</label>
      <input type="password" id="password-login" />
    </div>
    <button type="submit" id="login-btn" class="btn">Login!</button>
    <a type="button" href="/signup">Sign up instead</a>
  </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/login.js"></script>